
@font-face {
  font-family: 'NeoSansArabic';
  src: url('NeoSansArabic.eot?#iefix') format('embedded-opentype'),  url('NeoSansArabic.woff') format('woff'), url('NeoSansArabic.ttf')  format('truetype'), url('NeoSansArabic.svg#NeoSansArabic') format('svg');
  font-weight: normal;
  font-style: normal;
}
